#botonSuma{
    width: 60px;
    height: 60px;
    font-size: 30px;
    color:aqua;
    background-color: black;
}

#resultado{
    font-size: 60px;
}
#a{
    height: 30px;
    font-size: 30px;
}
#b{
    height: 30px;
    font-size: 30px;
}